.sidebarContainer {
  position: absolute;
  left: 0;
  border-right: 5px solid black;
  width: 10%;
  box-sizing: border-box;
}

.pageContent {
  border: 5px solid aqua;
  position: relative;
  left: 10%;
  width: 90%;
  box-sizing: border-box;
  height: 500px;
  overflow: scroll;
}
