.sidebarContainer {
  left: 0;
  border-right: 5px solid black;
  width: 18%;
  box-sizing: border-box;
  background-color: #846e3b;
}

.sidebarContainer,
.side-menu,
.sidemenu > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.pageContent {
  left: 18%;
  width: 82%;
  box-sizing: border-box;
  overflow: scroll;
  padding: 10px;
}

.adminSideButton {
  width: 100px;
  margin: 30px 0;
  display: block;
  width: 200px;
}

.pageContent > table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.pageContent > table thead {
  background-color: #e3c379;
  font-size: 20px;
  letter-spacing: 2px;
}

.pageContent > table tbody tr:nth-child(even) {
  background-color: antiquewhite;
}

.pageContent > table td {
  letter-spacing: 1px;
  padding: 2px 10px;
}
