.Layout {
  width: 100%;
  height: 100%;
}

.main-content {
  height: 85%;
  overflow: scroll;
  display: flex;
}

.main-navbar {
  height: 15%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 5px solid black;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}
.main-logo {
  height: 100%;
  width: auto;
}

.main-navbar button {
  margin: 0px 10px;
}

.grow {
  flex: 1;
}
