table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

thead,
tfoot {
  background-color: #e3c379;
  font-size: 20px;
  letter-spacing: 2px;
}

tbody tr:nth-child(even) {
  background-color: antiquewhite;
}

td {
  letter-spacing: 1px;
  padding: 2px 10px;
}

.titleCol {
  width: 70%;
}

.amtCol {
  width: 10%;
}

.priceCol {
  width: 10%;
}

.totPriceCol {
  width: 10%;
}

th.priceCol,
th.totPriceCol,
th.amtCol {
  text-align: center;
}

td.priceCol,
td.totPriceCol,
td.amtCol {
  text-align: right;
}
