.tableContent {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px;
}

.pageTitle{
  color: rgba(132, 110, 59, 1);
}

.addressContainingContainer {
  padding: 2.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
/*   justify-content: center; */
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  font-weight: bold;
  width: 100%;
}

.completeContainer {
  border-radius: 3px;
  box-shadow: #282c34 0px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-self: center;
  width: 50vw;
  background-color: whitesmoke;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  padding: 1rem;
}

.addressContent{
  color: rgba(132, 110, 59, 1);
}

.sendOrderButton{
  background-color: transparent;
  width: 7vw;
  color: rgba(132, 110, 59, 1);
  border: 2px solid #846e3b;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  padding: 0.5rem;
  margin: 1vh 1vh;
  display: block;
}

.directionButton {
  background-color: transparent;
  width: 7vw;
  color: rgba(132, 110, 59, 1);
  border: 2px solid #846e3b;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  padding: 0.5rem;
  margin: 1vh 1vh;
  display: inline-block;
}

.directionContainer{
  display: inline-block;
}

.buttonsContainer{
  display: block;
}

.changeAddressButton {
  background-color: transparent;
  width: 15vw;
  color: rgba(132, 110, 59, 1);
  border: 2px solid #846e3b;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  padding: 0.5rem;
  margin: 1vh 1vh;
  display: inline-block;
}


.directionButton:hover {

  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.sendOrderButton:hover {

  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.changeAddressButton:hover {

  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.mainButton {
  background-color: transparent;
  color: rgba(132, 110, 59, 1);
  border: 2px solid #846e3b;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  padding: 0.5rem;
  display: inline-block;
}

.mainButton:hover {

  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

hr{
  margin: 3vh;
  border: rgba(0, 0, 0, 0.25) 1px solid;
  width: 90%;
}