.filterContainer{
  width: 20vw;
  background-color: #846e3b;
  height: 60%;
  padding-top: 5vh;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
  border: black 1px solid;
  margin: 5 px;
  position: absolute;
  left: 0;
  justify-content: center;
}

.slider {
  -webkit-appearance: none;
  width: 90%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #85bb65;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #85bb65;
  cursor: pointer;
}
.sliderText{
  font-size: 20px;
  margin-bottom: 10px;
}
.dropbtn {
  background-color: #323232;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 12vw;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 12vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: pointer;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #828282;}
.filterButton{
display: block;
margin-left: 4vw;
margin-top: 30%;
background-color: #323232;
color: white;
padding: 16px;
font-size: 16px;
border: none;
width: 12vw;
cursor: pointer;
}