.bookThumbnail {
  width: 80px;
  height: auto;
}
.bookTitle {
  font-size: 20px;
  margin-bottom: 0;
  margin: 0;
}
.bookPrice {
  margin: 0;
  font-size: 20px;
}
.bookContainer {
  background-color: #846e3b;
  text-align: center;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: black 1px solid;
  display: inline-block;
}

.cartButton {
  width: 60%;
  height: 10%;
  border-radius: 5px;
  background-color: green;
  color: white;
  cursor: pointer;
}
