.item {
  background-color: #e3c379;
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 5px;
}

.coverContainer {
  width: 300px;
  margin-right: 20px;
}

.coverContainer > img {
  width: 100%;
  height: auto;
}

.detailsContainer {
  flex: 1;
}

.detailsContainer h2 {
  text-align: center;
  text-transform: full-width;
  font-size: 32px;
}
